@model SARH___JMéndez_Constructora.Models.Deducciones

@{
    ViewData["Title"] = "Crear Deducción";
    ViewData["sidebarActive"] = "Deducciones";

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<div class="container-fluid">
    <div class="block-header">

        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Inicio</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="../home/dashboard.html">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            Crear una nueva deducción
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-12">
                <div class="card">
                    <div class="tab-pane show active" id="addUser">
                        <div class="body mt-2">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <h4>Deducciones</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <form asp-action="Create">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-group">
                                                    <label asp-for="Grupo" class="control-label"></label>
                                                    <input asp-for="Grupo" class="form-control" />
                                                    <span asp-validation-for="Grupo" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Concepto" class="control-label"></label>
                                                    <input asp-for="Concepto" class="form-control" />
                                                    <span asp-validation-for="Concepto" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Patrono" class="control-label"></label>
                                                    <input type="number" asp-for="Patrono" class="form-control" />
                                                    <span asp-validation-for="Patrono" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Trabajador" class="control-label"></label>
                                                    <input type="number" asp-for="Trabajador" class="form-control" />
                                                    <span asp-validation-for="Trabajador" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Create" class="btn btn-primary" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div>
                                        <a asp-action="Index" class="btn btn-outline-primary">Volver a la lista</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{

    ViewData["sidebarActive"] = "Deducciones";

}
