@{
    ViewData["Title"] = "Tablero";
    ViewData["sidebarActive"] = "Tablero";
}

<div class="container-fluid">
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Inicio</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="../home/dashboard.html">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Tablero</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-6 col-md-4 col-xl-2 px-lg-1">
                <div class="card">
                    <div class="body ribbon">
                        <div class="ribbon-box green">5</div>
                        <a class="my_sort_cut text-muted" asp-area="" asp-controller="Trabajadores" asp-action="Index">
                            <i class="icon-users"></i>
                            <span>Trabajadores</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2 px-lg-1">
                <div class="card">
                    <div class="body">
                        <a class="my_sort_cut text-muted" asp-area="" asp-controller="Rendimiento" asp-action="Index">
                            <i class="icon-like"></i>
                            <span>Rendimiento</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2 px-lg-1">
                <div class="card">
                    <div class="body ribbon">
                        <div class="ribbon-box orange">8</div>
                        <a class="my_sort_cut text-muted" asp-area="" asp-controller="Calendario" asp-action="Index">
                            <i class="icon-calendar"></i>
                            <span>Calendario</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2 px-lg-1">
                <div class="card">
                    <div class="body">
                        <a class="my_sort_cut text-muted" asp-area="" asp-controller="Pagos" asp-action="Index">
                            
                            <i class="icon-credit-card"></i>
                            <span>Pagos</span>
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-6 col-md-4 col-xl-2 px-lg-1">
                <div class="card">
                    <div class="body">
                        <a class="my_sort_cut text-muted" asp-area="" asp-controller="Usuarios" asp-action="Index">
                            
                            <i class="icon-users"></i>
                            <span>Usuarios</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2 px-lg-1">
                <div class="card">
                    <div class="body">
                        <a class="my_sort_cut text-muted" asp-area="" asp-controller="Reportes" asp-action="Index">
                            
                            <i class="icon-pie-chart"></i>
                            <span>Reportes</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="header">
                        <h2>Estructura de los empleados</h2>
                    </div>
                    <div class="body text-center">
                        <div id="chart-bar-stacked" style="height: 130px"></div>
                        <hr />
                        <div class="row clearfix">
                            <div class="col-3">
                                <h6 class="mb-0">5</h6>
                                <small class="text-muted">Chofer</small>
                            </div>
                            <div class="col-3">
                                <h6 class="mb-0">8</h6>
                                <small class="text-muted">Mecánico</small>
                            </div>
                            <div class="col-3">
                                <h6 class="mb-0">2</h6>
                                <small class="text-muted">RRHH</small>
                            </div>
                            <div class="col-3">
                                <h6 class="mb-0">1</h6>
                                <small class="text-muted">Contador</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <div class="card-value float-right text-muted">
                            <i class="icon-user"></i>
                        </div>
                        <h3 class="mb-1">16</h3>
                        <div>Trabajadores Actuales</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="header">
                        <h2>Rendimiento de los trabajadores</h2>
                    </div>
                    <div class="body text-center">
                        <div id="chart-area-spline-sracked"
                             style="height: 130px"></div>
                        <hr />
                        <div class="row clearfix">
                            <div class="col-6">
                                <h6 class="mb-0">8</h6>
                                <small class="text-muted">Mes Pasado</small>
                            </div>
                            <div class="col-6">
                                <h6 class="mb-0">10</h6>
                                <small class="text-muted">Éste mes</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <div id="slider2"
                             class="carousel vert slide"
                             data-ride="carousel"
                             data-interval="1700">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="card-value float-right text-muted">
                                        <i class="wi wi-fog"></i>
                                    </div>
                                    <h3 class="mb-1">12°C</h3>
                                    <div>San Ramón</div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card-value float-right text-muted">
                                        <i class="wi wi-day-cloudy"></i>
                                    </div>
                                    <h3 class="mb-1">18°C</h3>
                                    <div>Alajuela</div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card-value float-right text-muted">
                                        <i class="wi wi-sunrise"></i>
                                    </div>
                                    <h3 class="mb-1">37°C</h3>
                                    <div>San José</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="header">
                        <h2>Gastos Generales</h2>
                        <ul class="header-dropdown dropdown">
                            <li>
                                <a href="javascript:void(0);" class="full-screen">
                                    <i class="icon-frame"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Acción</a></li>
                                    <li>
                                        <a href="javascript:void(0);">Otra acción</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Alguna cosa</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <small class="text-muted">Estadísticas de los gastos generales de la empresa</small>
                        <div id="flotChart" class="flot-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Rendimiento de los empleados</h2>
                        <ul class="header-dropdown dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li>
                                        <a href="javascript:void(0);">Another Action</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Something else</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover js-basic-example dataTable table-custom spacing5 mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Cédula</th>
                                    <th>Teléfono</th>
                                    <th>Fecha de ingreso</th>
                                    <th>Puesto</th>
                                    <th>Calificación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="w60">
                                        <label class="fancy-checkbox">
                                            <input class="checkbox-tick"
                                                   type="checkbox"
                                                   name="checkbox" />
                                            <span></span>
                                        </label>
                                        <div class="avtar-pic w35 bg-red"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title="Avatar Name">
                                            <span>MN</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="font-15">Marshall Nichols</div>
                                        <span class="text-muted">
                                            <a href="/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="177a7665647f767b7b3a7957707a767e7b3974787a">[email&#160;protected]</a>
                                        </span>
                                    </td>
                                    <td><span>LA-0215</span></td>
                                    <td><span>+ 264-625-2583</span></td>
                                    <td>24 Jun, 2015</td>
                                    <td>Chofer</td>
                                    <td>
                                        <span class="chart">10</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <label class="fancy-checkbox">
                                            <input class="checkbox-tick"
                                                   type="checkbox"
                                                   name="checkbox" />
                                            <span></span>
                                        </label>
                                        <img src="../assets/images/xs/avatar1.jpg"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title="Avatar Name"
                                             alt="Avatar"
                                             class="w35 h35 rounded" />
                                    </td>
                                    <td>
                                        <div class="font-15">Susie Willis</div>
                                        <span class="text-muted">
                                            <a href="/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="d1a2a4a2a2b8b4fca691b6bcb0b8bdffb2bebc">[email&#160;protected]</a>
                                        </span>
                                    </td>
                                    <td><span>LA-0216</span></td>
                                    <td><span>+ 264-625-2583</span></td>
                                    <td>28 Jun, 2015</td>
                                    <td>Contador(a)</td>
                                    <td>
                                        <span class="chart">8</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <label class="fancy-checkbox">
                                            <input class="checkbox-tick"
                                                   type="checkbox"
                                                   name="checkbox" />
                                            <span></span>
                                        </label>
                                        <div class="avtar-pic w35 bg-pink"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title="Avatar Name">
                                            <span>MN</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="font-15">Debra Stewart</div>
                                        <span class="text-muted">
                                            <a href="/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="7e1a1b1c0c1f3e19131f1712501d1113">[email&#160;protected]</a>
                                        </span>
                                    </td>
                                    <td><span>LA-0218</span></td>
                                    <td><span>+ 264-625-2583</span></td>
                                    <td>21 July, 2015</td>
                                    <td>Chofer</td>
                                    <td>
                                        <span class="chart">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <label class="fancy-checkbox">
                                            <input class="checkbox-tick"
                                                   type="checkbox"
                                                   name="checkbox" />
                                            <span></span>
                                        </label>
                                        <img src="../assets/images/xs/avatar2.jpg"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title="Avatar Name"
                                             alt="Avatar"
                                             class="w35 h35 rounded" />
                                    </td>
                                    <td>
                                        <div class="font-15">Francisco Vasquez</div>
                                        <span class="text-muted">
                                            <a href="/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="c8aebaa9a6aba1bbbe88afa5a9a1a4e6aba7a5">[email&#160;protected]</a>
                                        </span>
                                    </td>
                                    <td><span>LA-0222</span></td>
                                    <td><span>+ 264-625-2583</span></td>
                                    <td>18 Jan, 2016</td>
                                    <td>Contador(a)</td>
                                    <td>
                                        <span class="chart">7</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <label class="fancy-checkbox">
                                            <input class="checkbox-tick"
                                                   type="checkbox"
                                                   name="checkbox" />
                                            <span></span>
                                        </label>
                                        <img src="../assets/images/xs/avatar3.jpg"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title="Avatar Name"
                                             alt="Avatar"
                                             class="w35 h35 rounded" />
                                    </td>
                                    <td>
                                        <div class="font-15">Jane Hunt</div>
                                        <span class="text-muted">
                                            <a href="/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="254f444b40084d504b51654248444c490b464a48">[email&#160;protected]</a>
                                        </span>
                                    </td>
                                    <td><span>LA-0232</span></td>
                                    <td><span>+ 264-625-2583</span></td>
                                    <td>08 Mar, 2016</td>
                                    <td>Mecánico</td>
                                    <td>
                                        <span class="chart">10</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
