@{
    ViewData["Title"] = "Tablero";
    ViewData["sidebarActive"] = "Tablero";
    IEnumerable<SARH___JMéndez_Constructora.Models.TableroViewModels.AuditRecentViewModel> list
        = (IEnumerable<SARH___JMéndez_Constructora.Models.TableroViewModels.AuditRecentViewModel>) ViewData["AuditRecent"];
}

<div class="container-fluid">
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Inicio</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Tablero" asp-action="Index">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Tablero</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <!-- Accesos Directos -->
        <div class="row clearfix">
            @if(User.IsInRole(Roles.Admin.ToString()))
            {
                <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Usuarios" asp-action="Index">
                                <i class="icon-users"></i>
                                <span>Usuarios</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Bitacoras" asp-action="Index">
                                <i class="icon-notebook"></i>
                                <span>Bitacoras</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body ribbon">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Trabajadores" asp-action="Index">
                                <i class="icon-users"></i>
                                <span>Trabajadores</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Pagos" asp-action="Index">
                                <i class="icon-credit-card"></i>
                                <span>Pagos</span>
                            </a>
                        </div>
                    </div>
                </div> 
                @* <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body ribbon">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Calendario" asp-action="Index">
                                <i class="icon-calendar"></i>
                                <span>Calendario</span>
                            </a>
                        </div>
                    </div>
                </div> *@
                <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body ribbon">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Deducciones" asp-action="Index">
                                <i class="icon-credit-card"></i>
                                <span>Deducciones</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Vacaciones" asp-action="Index">
                                
                                <i class="icon-folder"></i>
                                <span>Reportes</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Incapacidades" asp-action="Index">
                                <i class="icon-folder"></i>
                                <span>Incapacidades</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4  px-lg-1">
                    <div class="card">
                        <div class="body">
                            <a class="my_sort_cut text-muted" asp-area="" asp-controller="Aguinaldos" asp-action="Index">
                                <i class="icon-credit-card"></i>
                                <span>Aguinaldos</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if(User.IsInRole(Roles.Admin.ToString())){
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Registros de Bitacora Recientes</h2>
                    </div>
                    <partial name="_IndexAuditRecent" for="@list" view-data="ViewData" />
                </div>
            </div>
        </div>
        }
    </div>
</div>
