@{
    ViewData["Title"] = "Usuarios";
    ViewData["sidebarActive"] = "Usuarios";
}

@using SARH___JMéndez_Constructora.Models.AccountViewModels
@model RegisterViewModel
@{
    var statusMessage = ViewData["StatusMessage"];
}
<div class="container-fluid">
    <div class="block-header">
        @if (statusMessage != null)
        {
            if (!statusMessage.ToString().Equals(""))
            {
                <div class="alert alert-dismissible bg-info text-white" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="fa fa-info-circle"></i> Informacion: @ViewData["StatusMessage"]
                </div>
            }
        }
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Inicio</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Tablero" asp-action="Index">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            Gestión de Usuarios del Sistema
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs3 table-nav">
                        <li class="nav-item">
                            <a class="nav-link "
                               data-toggle="tab"
                               href="#Users">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#addUser">Añadir Usuario</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-0">
                        <div class="tab-pane " id="Users">
                            <partial name="_UsersPartial" />
                        </div>
                        <div class="tab-pane show active" id="addUser">
                            <div class="body mt-2">
                                <div class="row clearfix">
                                    <form asp-controller="Usuarios" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal col-12" role="form">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="UserName"></label>
                                                <input asp-for="UserName"
                                                       type="text"
                                                       class="form-control" />
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Password"></label>
                                                <input asp-for="Password"
                                                       type="password"
                                                       class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="ConfirmPassword"></label>
                                                <input asp-for="ConfirmPassword"
                                                       type="password"
                                                       class="form-control" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Role"></label>
                                                <select asp-for="Role" class="form-control show-tick">
                                                    <option>Admin</option>
                                                    <option>RRHH</option>
                                                    <option>Gerencia</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="submit" class="btn btn-default">Registrar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    
<script type="text/javascript">
    console.log("cargado!!")


    //$(".deleteUserButton").click((e) => {
    //    e.preventDefault();
    //    console.log("clickeado!!")
    //    Swal.fire({
    //        title: '¿Seguro que desea eliminar el usuario seleccionado?',
    //        showDenyButton: true,
    //        showCancelButton: false,
    //        confirmButtonText: `Cancelar`,
    //        denyButtonText: `Eliminar`,
    //    }).then((result) => {
    //        /* Read more about isConfirmed, isDenied below */
    //        if (result.isDenied) {
    //            $("#formEliminarUsuario").submit();
    //            //Swal.fire('Usuario Eliminado!', '', 'success')
    //        } else if ( result.isConfirmed) {
    //            //Swal.fire('Cancelado!', '', 'info')
    //        }
    //    })
    //})
    function deleteUser (userId) {
        Swal.fire({
            title: "Atención",
            text: "¿Seguro que desea eliminar el usuario seleccionado?",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: `Cancelar`,
            denyButtonText: `Eliminar`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isDenied) {
                $.post("Delete", { returnUrl : userId }, function(data, status){
                    if(status === 'success' && data.response === 'deleted'){
                        return window.location.href = 'Index?Message=DeleteUserSuccess';
                    }
                    window.location.href = 'Index?Message=Error';
                });
            }
        })
    }
</script>

}
