@model SARH___JMéndez_Constructora.Models.Evaluaciones

@{
    ViewData["Title"] = "Evaluaciones - Editar";
    ViewData["sidebarActive"] = "Reportes";
}
<partial name="_IonRangeSliderPartialStyles" />
<div class="container-fluid">
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Inicio</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Tablero" asp-action="Index">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Detalles de reporte de vacaciones</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs3 table-nav">
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-action="Index" asp-controller="Vacaciones">Vacaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Tiempoes">Tiempo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="Index" asp-controller="Evaluaciones">Evaluaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Ausenciasinjustificadas">Ausencias Injustificadas</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3">
                        <div class="tab-pane show active" id="Vacaciones">
                            <div class="card">
                                <form asp-action="Edit">
                                    <div class="header">
                                        <h2>Editar Evaluación</h2>
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="Id" />
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="IdEmpleado" class="control-label"></label>
                                                    <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                                                    <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Calificacion" class="control-label"></label>
                                                    <input asp-for="Calificacion" data-skin="modern" 
                                                        class="rangeslider irs-modern" data-from="@Model.Calificacion" />
                                                    <span asp-validation-for="Calificacion" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Observaciones" class="control-label"></label>
                                                    <!--<input asp-for="Observaciones" class="form-control" />-->
                                                    <textarea asp-for="Observaciones" class="form-control" 
                                                        rows="2"></textarea>
                                                    <span asp-validation-for="Observaciones" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <a class="btn btn-outline-primary" asp-action="Index">Volver a la lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    
    <script>
        (function() {
            'use strict';
            $('.rangeslider').ionRangeSlider({
                skin: "modern",
                min: 0,
                max: 10
            });
            $('span.irs.js-irs-0').addClass('irs-modern');
        })();
    </script>
}
