@model SARH___JMéndez_Constructora.Models.AusenciasInjustificadasViewModels.AIFormViewModel
@{
    ViewData["Title"] = "Create";
    ViewData["sidebarActive"] = "Reportes";
}
<div class="container-fluid">
    <div class="block-header">

        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Inicio</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Tablero" asp-action="Index">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Nuevo reporte de ausencia injustificada</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs3 table-nav">
                        <li class="nav-item">
                            <a class="nav-link  "
                               asp-action="Index" asp-controller="Vacaciones">Vacaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Tiempoes">Tiempo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-action="Index" asp-controller="Evaluaciones">Evaluaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="Index" asp-controller="Ausenciasinjustificadas">Ausencias Injustificadas</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3">
                        <div class="tab-pane show active">
                            <div class="row p-5">
                                <div class="col-12  p-3 bg-light rounded-sm">
                                    <h4>Nuevo Reporte de Ausencia Injustificada</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="col-12">
                                            <form id="formAI" asp-action="Create">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input id="IdContrato" type="hidden" asp-for="IdContrato">
                                                <div class="form-group">
                                                    <label asp-for="IdEmpleado" class="control-label"></label>
                                                    <select id="selectIdEmpleadoAI" asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                                                </div>


                                                <div class="form-group">
                                                    <label asp-for="FechaInicio" class="control-label"></label>
                                                    <input asp-for="FechaInicio" class="form-control" />
                                                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="FechaFin" class="control-label"></label>
                                                    <input asp-for="FechaFin" class="form-control" />
                                                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Notas" class="control-label"></label>
                                                    <input asp-for="Notas" class="form-control" />
                                                    <span asp-validation-for="Notas" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input id="submitCreateAI" type="submit" value="Crear" class="btn btn-primary" />
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                    <div>
                                        <a class="btn btn-outline-primary" asp-action="Index">Volver a la lista</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(() => {
            $('#selectIdEmpleadoAI').on("change", () => {
                let idEmpleado = $('#selectIdEmpleadoAI').val();
                fetch(`GetIdContrato?idEmpleado=${idEmpleado}`)
                    .then(response => response.json())
                    .then((data) => {
                        $('input#IdContrato').val(data.idContrato)
                    })
            })

            $("#submitCreateAI").click((e) => {
                e.preventDefault();
                console.log('clicked');
                $("#formAI").submit()

            })
        })
    </script>
}


