@{
    Layout = null;
}

@{
    ViewData["Title"] = "Autenticacións";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="csrf-token"
          content="OGQxJMl6FiiI8GFAM56Fpj0BoxkrsD7lO6Q2T6wb" />
    <link rel="icon"
          href="https://oculux.nsdbytes.com/laravel/public/assets/images/favicon.ico"
          type="image/x-icon" />
    <title>Login - Laravel</title>
    <meta name="description" content="Laravel" />
    <meta name="author" content="Laravel" />
    <link rel="stylesheet"
          href="../../assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="../../assets/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet"
          href="../../assets/vendor/animate-css/vivify.min.css" />
    <link rel="stylesheet" href="../../assets/css/site.min.css" />
</head>
<body class="theme-cyan font-raleway">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
        </div>
    </div>
    <div class="auth-main particles_js">
        <div class="auth_div vivify popIn">
            <div class="auth_brand">
                <a class="navbar-brand" href="javascript:void(0);">
                    <img src="../../assets/img/..."
                         width="30"
                         height="30"
                         class="d-inline-block align-top mr-2"
                         alt="" />JMéndez Constructora S.A
                </a>
            </div>
            <div class="card">
                <div class="body">
                    <p class="lead">Iniciar Sesión</p>
                    <form class="form-auth-small m-t-20">
                        <div class="form-group">
                            <label for="signin-email" class="control-label sr-only">Email</label>
                            <input type="email"
                                   class="form-control round"
                                   id="signin-email"
                                   placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label for="signin-password" class="control-label sr-only">Contraseña</label>
                            <input type="password"
                                   class="form-control round"
                                   id="signin-password"
                                   placeholder="Contraseña" />
                        </div>
                        <div class="form-group clearfix">
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox" />
                                <span>Recordarme</span>
                            </label>
                        </div>
                        <a href="../home/dashboard.html"
                           class="btn btn-primary btn-round btn-block">Ingresar</a>
                        <div class="bottom">
                            <span class="helper-text m-b-10">
                                <i class="fa fa-lock"></i>
                                <a href="#">Olvidó la contraseña?</a>
                            </span>
                            <!-- <span>Don't have an account? <a href="#">Register</a></span> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="particles-js"></div>
    </div>

    <script src="https://oculux.nsdbytes.com/laravel/public/assets/bundles/libscripts.bundle.js"
            type="421b55c22a708589a692a7aa-text/javascript"></script>
    <script src="https://oculux.nsdbytes.com/laravel/public/assets/bundles/vendorscripts.bundle.js"
            type="421b55c22a708589a692a7aa-text/javascript"></script>
    <script src="https://oculux.nsdbytes.com/laravel/public/assets/bundles/mainscripts.bundle.js"
            type="421b55c22a708589a692a7aa-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
            data-cf-settings="421b55c22a708589a692a7aa-|49"
            defer=""></script>
    <script defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"rayId":"601a3cd99a703723","r":1,"version":"2020.12.0","si":10}'></script>
</body>
</html>
