@{
    ViewData["Title"] = "Aguinaldos";
    ViewData["sidebarActive"] = "Aguinaldos";
    var statusMessage = ViewData["StatusMessage"];
}
@model AguinaldosViewModel
@{ ViewData["empleados"] = Model.EmpleadosList; }
<div class="container-fluid">
    <div class="block-header">
        @if (statusMessage != null)
        {
            if (!statusMessage.ToString().Equals(""))
            {
                <div class="alert alert-dismissible bg-info text-white" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <i class="fa fa-info-circle"></i> Informacion: @ViewData["StatusMessage"]
                </div>
            }
        }
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Inicio</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="../home/dashboard.html">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Generar Reporte de Pago</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="body">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <ul class="nav nav-tabs3 table-nav">
                            <li class="nav-item">
                                <a class="nav-link active show"
                                   data-toggle="tab"
                                   href="#e_add">Ingresar Aguinaldo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#e_list">
                                    Aguinaldos Ingresados
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="e_add">
                                <div class="card">
                                    <partial name="_IndexIngresarAguinaldo" for="AguinaldoForm" view-data="ViewData" />
                                </div>
                            </div>
                            <div class="tab-pane" id="e_list">
                                <partial name="_IndexAguinaldosList" for="AguinaldosList" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        (function() {
            'use strict';
            
            let FechaActual;
            let InicioContrato;
            let DiasContrato;
            let PuestoTrabajo;
            let MesesContrato;
            let SumatoriaSalariosBrutos;
            let MontoAguinaldo;

            if($('#PartialIngresarAguinaldo')){
                document.querySelector('#selectEmpleado')
                    .addEventListener('change', GetCalcularMonto);

                FechaActual = $('#FechaActual');
                InicioContrato = $('#InicioContrato');
                DiasContrato = $('#DiasContrato');
                PuestoTrabajo = $('#PuestoTrabajo');
                MesesContrato = $('#MesesContrato');
                SumatoriaSalariosBrutos = $('#SumatoriaSalariosBrutos');
                MontoAguinaldo = $('#MontoAguinaldo');
            }

            function GetCalcularMonto(e) {
                var idEmpleado = $('#selectEmpleado').val();
                if (idEmpleado !== '') {
                    $.ajax({
                        type: "GET",
                        url: "GetAguinaldo",
                        data: { "idEmpleado": idEmpleado },
                        success: function (data) {
                            DisplayData(data);
                        }
                    });
                }
            }

            function DisplayData(data){
                let currentDate = new Date(data.fechaFin); 
                let startedDate = new Date(data.fechaInicio);
                let diasContrato = (new Date(data.fechaFin) - new Date(data.fechaInicio))
                    / (1000 * 60 * 60 * 24); 
                FechaActual.html(`${currentDate.getDate()}-${currentDate.getMonth()}-${currentDate.getFullYear()}` );
                InicioContrato.html(`${startedDate.getDate()}-${startedDate.getMonth()}-${startedDate.getFullYear()}`);
                DiasContrato.html(diasContrato);
                $.get( "GetPuesto", {"IdEmpleado":data.idEmpleado},
                    function(data) { PuestoTrabajo.html(data.puesto); });
                MesesContrato.html((diasContrato / 30).toFixed(3));
                SumatoriaSalariosBrutos.html(`¢${data.sumatoriaSalarioBrutos.toFixed(3)}`);
                MontoAguinaldo.html(`¢${data.montoAguinaldo.toFixed(3)}`);
            }

            function isEmpy(e) { return (e === '' || e === '-1') ? true : false; }

        })();
    </script>
}
